body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.menu {
  display: flex;
  margin: 10px 0;
}

.menu__item {
  list-style: none;
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 300;
}
.footer {
    width: 100%;
    background: #A3A5AE;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
    align-items: center;
    display: flex;
  }