body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.menu {
  display: flex;
  margin: 10px 0;
}

.menu__item {
  list-style: none;
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 300;
}
.footer {
    width: 100%;
    background: #A3A5AE;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
    align-items: center;
    display: flex;
  }

  .caja{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .escribinos h1{
    color: dimgrey;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .escribinos p{
    justify-content: center;
    display: flex;
    text-align: center;
  }

  .boton{
    margin-top: 20px;
    align-items: end;
    display: block;
    background-color: #A3A5AE;
    color: #fff;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
