body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo{
  width: 5%;
}

.intro{
  background-color: #A3A5AE;
  padding: 2rem;
  margin: 2rem;
  border: 10px solid lightgrey;
}

.recursos{
  padding: 2rem;
  margin: 2rem;
}

.menu {
  display: flex;
  margin: 10px 0;
}

.menu__item {
  list-style: none;
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 300;
}

.titulo{
  text-align: center;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: dimgrey;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer {
    width: 100%;
    background: #A3A5AE;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
    align-items: center;
    display: flex;
  }