*{
  padding-top: 0.5rem;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu {
  display: flex;
  margin: 10px 0;
}

.menu__item {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 300;
}

.titulo {
  text-align: center;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: dimgrey;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer {
  width: 100%;
  background: #A3A5AE;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
  align-items: center;
  display: flex;
}

/* INICIO */

.caracteristicas {
  color: dimgrey;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.caracteristicas h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.caracteristicas p {
  text-align: center;
}

a {
  margin: 30px;
  font-size: 1.8em;
  color: dimgrey;
}

.imageninicio {
  width: 100%;
  height: 250px;
  align-content: center;
  object-fit: cover;
}

.tituloBootcamp {
  text-align: center;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: dimgrey;
  margin-top: 15px;
  margin-bottom: 15px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  color: dimgrey
}

.logo {
  width: 40px;
  height: 40px;
}

.logo:hover{
  transform: scale(2)
} 

/* HTML - CSS - JS */

.logo-min{
  width: 40px;
  height: 40px;
}

.intro {
  background-color: #A3A5AE;
  padding: 2rem;
  margin: 2rem;
  border: 10px solid lightgrey;
}

.recursos {
  display: grid;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
}

.recursos a{
  color: black;
}

ul {
  list-style: none;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.videos iframe{
  box-shadow: 10px 10px 5px;
}

.curso{
  padding-left: 4rem;
  padding-right: 4rem;
  text-align: center;
}

.curso a {
  margin: 0;
  font-size: 20px;
  padding-left: 10px;
  color: chocolate;
}

/* CONTACTO */

.caja {
  margin-top: 15px;
  margin-bottom: 15px;
}

.escribinos h1 {
  color: dimgrey;
  align-items: center;
  display: flex;
  justify-content: center;
}

.escribinos p {
  justify-content: center;
  display: flex;
  text-align: center;
}

.boton {
  margin-top: 20px;
  align-items: end;
  display: block;
  background-color: #A3A5AE;
  color: #fff;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* JS_style */

.js{
  background-color: lightgrey;
  padding: 1rem;
}

.js h1{
  text-align: center;
}

.js footer{
  padding: 0rem;
  padding-bottom: 2rem;
}

/* MEDIA-QUERY */

@media (max-width:1160px) {
  .videos iframe {
    width: 400px;
    height: 265px;
  }
}

@media (max-width:960px) {
  .videos iframe {
    width: 350px;
    height: 225px;
  }
  .escribinos{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width:860px) {
  .videos iframe {
    width: 300px;
    height: 175px;
  }
  .escribinos{
    padding-left: 20px;
    padding-right: 20px;
  }
  .recursos{
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .intro{
    padding: 0.5rem;
    margin: 0.5rem;
  }
}

@media (max-width:360px) {
  .recursos{
    margin: 0.2rem;
    padding: 0.2rem;
    padding-top: 1rem;
  }
}
/*api*/
#h5{
text-align:justify;
}
#translate {
  margin-left: auto;
font-size: 15px;
}

/* index*/
#p1{
  text-align: justify;
}

/* QUIENES SOMOS*/
.h1{
  text-align: center;
  font-size: medium;
  font-style: initial;
}
.fotoNuestra{
  border-radius: 25px;
  margin-left: 5px;
  height: 250PX;
  width: 250PX;
}
.quienessomos{
  display: inline-block;
  width: 100%;
  text-align: start;
  padding: 2rem;
/* QUIENES SOMOS
  margin-left: 10px;
  display: grid;
  justify-content: center;
  align-items: center;*/
}

.info {
  margin-left: 20px;
  width: 70%;
  display: inline-block;
  vertical-align: top;
}

.descripcionQS{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  display: flex;
  
}



